<h2>Date:</h2> {Date}
<h2>Attendance:</h2>
<ul>
{.repeated section Attended} 
	<li><a href="/member/{Name}">{Name}</a><li>
{.end}
</ul>
<h2>Apologies</h2>
<ul>
{.repeated section Apologies} 
	<li><a href="/member/{Name}">{Name}</a><li>
{.end}
</ul>
<h2>Absent</h2>
<ul>
{.repeated section Absent} 
	<li><a href="/member/{Name}">{Name}</a><li>
{.end}
</ul>
<h2>Agenda</h2>

<h2>Minutes</h2>

