<!doctype html>
<html xmlns:ng="http://angularjs.org/">
<head>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/form.css"/>
	<script src="lib/angular/angular.js" ng:autobind></script>
  <script src="js/controllers.js"></script>
</head>
<body ng:controller="PhoneCatCtrl">
 
  <ng:view></ng:view>
 
</body>
{{Contact}}
</html>
