<!doctype html>
<html xmlns:ng="http://angularjs.org/">
<head>
  <meta charset="utf-8">
  <title>my angular app</title>
  <link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="partials/form.css" />
<link rel="stylesheet" href="jquery.mobile-1.0.min.css"/>

	<style>
		:invalid {
  			background-color: red;
		}
	</style>
</head>
<body>
<div id="stylized" class="myform" ng:controller="HouseCtrl">
	<h1>Lodge Maintenance Request</h1>
	<label>Property</label> <label>{{Property.Address}}</label>
	<form>
		<label>Description</label>
		<textarea name="Request.Description">
		</textarea>
		<input type="button" value="New Tradesman" ng:click="ListTradesman.$add({})">
		<div>
				
		</div>
		<div ng:repeat="(id, tradesman) in Request.Tradesman">
			<div>    
   				 <select name="Request.Tradesman[id]" 
					ng:options="trade.name for trade in ListTradesman">
				</select> 
			</div> 
		</div>
		<input type="button" value="Add Quote" ng:click="Request.Tradesman.$add({})">
		<legend>Contact</legend>
		<input type="checkbox" name="Tenant.IsMember">
		<input name="Tenant.Name" required="true">
		<ul>
		    <li ng:repeat="phone in Tenant.Phone">
      			{{phone}}
    			</li>
  		</ul>
		<ul>
		    <li ng:repeat="email in Tenant.Email">
      			{{email}}
    			</li> 
  		</ul>

		<input name="Tenant.Description" id="Address" required="true">
		</fieldset>
		<fieldset>
			<label>Maintenance Type</label>
			<select name="Request.RequestType" 
					ng:options="type.name for type in ListRequestType">
				</select> 
			
		</fieldset>
	</form>
	<div>
		{{Request}}
	</div>
</div>
  <script src="lib/angular/angular.js" ng:autobind></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/widgets.js"></script>
<script>

function HouseCtrl() {

 this.Tenant = {};
this.Tenant.IsMember = true;
this.Tenant.Name = "Jesse McNelis";
this.Tenant.Phone = ["0394199157"];
this.Tenant.Email = ["jessta@gmail.com"];
this.Tenant.Description = "home during the day";


this.Property = {};
this.Property.Address = "314 Wellington St, Collingwood, 3066";
this.ListTradesman = [{id:"1",name:"Pete"},{id:"2",name:"James"},{id:3,name:"Joe"},{id:4,name:"nelix"},{id:5,name:"dude"}];
this.ListRequestType = [{name:"ThirdSchedule",id:1},
	{name:"Cyclical",id: 2},
	{name:"Urgent",id: 3},
	{name:"Ongoing",id: 4},
	{name:"Other",id: 5}]

this.Request = {};
this.Request.Property = this.Property;
this.Request.RequestBy = "me";
this.Request.Tradesman = [this.ListTradesman[1],this.ListTradesman[2]];
this.Request.Description = "kitchen floor needs replacing";
this.Request.RequestType = "";

}


 </script>


</body>
</html>
