<!doctype html>
<html xmlns:ng="http://angularjs.org/">
<head>
  <meta charset="utf-8">
  <title>St Joseph's CERC - Property Overview</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/form.css"/>
	<style>
		:invalid {
  			background-color: red;
		}
	</style>
</head>

<body id="stylized" class="myform" ng:controller="HouseCtrl">
	<h2>Property Overview: {{Property.Address}}</h2>
	<form>
		<label>Property Id: </label>{{Property.Id}}
		<fieldset>
			<legend>Maintanance Requests</legend>
			<ul>
				<li ng:repeat="r in Property.Requests">
					{{r}}
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Cyclical Maintanance Provisions</legend>
			<ul>
				<li ng:repeat="c in Property.CyclicalProvisions">
					Item: {{c.Item}}<br/>
					Amount($): {{c.Amount}}<br/>
					Date Due: {{c.Due}}<br/>
				</li>
			</ul>
		</fieldset>
	</form>
	{{Property}}
  <ng:view>
</ng:view>
  <script src="lib/angular/angular.js" ng:autobind></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/widgets.js"></script>
<script>
function HouseCtrl($xhr) {
	self = this
	$xhr('GET', '/property/0', function(code, response) {
    	self.Property = response;
  	});
}

function TenancyCtrl() { 
	this.Tenant = {}
	this.Tenant.IsMember = true;
	this.Tenant.Name = "Jesse McNelis";
	this.Tenant.Phone = ["0394199157"];
	this.Tenant.Email = ["jessta@gmail.com"];
	this.Tenant.Description = "home during the day";
}

 </script>


</body>
</html>
