<!doctype html>
<html xmlns:ng="http://angularjs.org/">
<head>
<link rel="stylesheet" href="form.css" />
</head>
<div id="stylized" class="myform" ng:controller="ContactCtrl">
<label>Contact Id: </label>{{contact.Id}}<br />
<label>Name:</label><input name="contact.Name">
<label>Company:</label><input name="contact.Company">
<label>ABN:</label><input name="contat.ABN">
<fieldset>
<legend>Phone Number:</legend>
<span ng:repeat="(id, phone) in contact.Phone">
<label>Phone:</label><input name="contact.Phone[id]">
</span>
<input type="button" value="Add" ng:click="contact.Phone.$add('')">
</fieldset>
<fieldset>
<legend>Email Address:</legend>
<span ng:repeat="(id, email) in contact.Email">
<label>Email:</label><input name="email">
</span>
<input type="button" value="Add" ng:click="contact.Email.$add('')">
</fieldset>

<label>Description:</label><br/>
<textarea name="contact.Description">
</textarea>
{{contact}}
</div>
 <script src="../lib/angular/angular.js" ng:autobind></script>
  <script src="../js/services.js"></script>
  <script src="../js/controllers.js"></script>
  <script src="../js/filters.js"></script>
  <script src="../js/widgets.js"></script>
<script>

function ContactCtrl() {

this.contact = {};
this.contact.Id=5;
this.contact.Name="Jesse McNelis";
this.contact.Phone=["0409807804","0394199157"];
this.contact.Email=["jessta@jessta.id.au","pizza@jessta.id.au"];
this.contact.Description = "member";

}
</script>
