<label>Tradesman:</label><div ng:repeat="(id, tradesman) in Request.Tradesman">
	<div>    
		<select name="Request.Tradesman[id]" 
			ng:options="trade.name for trade in ListTradesman">
		</select> 
	</div> 
</div>
<label>Amount($):</label><input name="quote.Amount">
<label>Description:</label><textarea name="quote.Description"></textarea>
<label>Scan/Photo/Attachment:</label><input type="file" name="quote.attachment">
