<label>Contact Id: </label>{{contact.Id}}<br />
<label>Name:</label><input name="contact.Name">
<fieldset>
<legend>Phone Number:</legend>
<span ng:repeat="(id, phone) in contact.Phone">
<label>Phone:</label><input name="contact.Phone[id]">
</span>
<input type="button" value="Add" ng:click="contact.Phone.$add('')">
</fieldset>
<fieldset>
<legend>Email Address:</legend>
<span ng:repeat="(id, email) in contact.Email">
<label>Email:</label><input name="email">
</span>
<input type="button" value="Add" ng:click="contact.Email.$add('')">
</fieldset>

<label>Description:</label><br/>
<textarea name="contact.Description">
</textarea>
